@{
    ViewData["Title"] = "Movie Genre";
}
<h1>@ViewData["Title"]</h1>

<div>
    <ul>
        <li><a>Action</a></li>
        <li><a>Adventure</a></li>
        <li><a>Animation</a></li>
        <li><a>Biography</a></li>
        <li><a>Comedy</a></li>
        <li><a>Crime</a></li>
        <li><a>Documentry</a></li>
        <li><a>Drama</a></li>
        <li><a>Family</a></li>
        <li><a>Fantasy</a></li>
        <li><a>Film Noir</a></li>
        <li><a>Game-Show</a></li>
        <li><a>History</a></li>
        <li><a>Horror</a></li>
        <li><a>Music</a></li>
        <li><a>Musical</a></li>
        <li><a>Mystery</a></li>
        <li><a>News</a></li>
        <li><a>Reality-show</a></li>
        <li><a>Romance</a></li>
        <li><a>Sci-Fi</a></li>
        <li><a>Sport</a></li>
        <li><a>Talk-Show</a></li>
        <li><a>Thriller</a></li>
        <li><a>War</a></li>
        <li><a>Western</a></li>
    </ul>
</div>
